@model IEnumerable<BibliotecaVirtual.Models.User>

@{
    ViewBag.Title = "User";
}

<h2>Usuarios</h2>

<p>
    @Html.ActionLink("Agregar", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Nombre
        </th>
        <th>
            Apellido
        </th>
        <th>
            Direccion
        </th>
        <th>
            Telefono
        </th>
        <th>
            Correo
        </th>
        <th>
            Contraseña
        </th>
        <th>
            Rol
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Roles)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id_user }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.Id_user }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.Id_user })
        </td>
    </tr>
}

</table>
